/* Animasi CSS */
@keyframes GerakanKeKanan {
    0%{
        transform: translateX(-10rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0rem);
        opacity: 1;
    }
}
@keyframes GerakanKeKiri {
    0%{
        transform: translateX(10rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }

}
@keyframes GerakanKeAtas {
    0%{
        transform: translateY(10rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }

}